[bumpversion]
current_version = 0.4.5
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:src/kubeseal_auto/cli.py]

[bumpversion:file:CHANGELOG.md]
search = ## [Unreleased]
replace = ## [{new_version}] - {now:%Y-%m-%d}
